<div class="d-flex flex-column justify-content-start w-auto">
  <span class="fs-5 text-muted">Avaliado</span>
  <h1 class="fs-3 mb-4"><%= @participant.name %></h1>
  <%= form_with(model: [@participant, @participant_instrument], class: 'd-flex justify-content-between') do |f| %>
    <div class="d-flex justify-content-between gap-5 w-100">
      <%= f.label :instrument_id, class: 'd-none' %>
      <%= collection_select :participant_instrument, :instrument_id, @options, :id, :name,
                            prompt: 'selecione um instrumento', required: true, class: 'me-3' %>
      <%= f.submit t(:assign), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>


