<%= render partial: 'participants/participant',
           locals: { participant: @participant_instrument.participant } %>

<%# TODO: add styles %>
<%= form_with(url: participant_instrument_submit_path(@participant_instrument.id),
              method: :post) do |f| %>
  <% @participant_instrument.questions.each_with_index do |q, i| %>
    <div id="question<%= i + 1 %>">
      <strong><%= q.description %></strong>
      <br>
      <% q.options.each do |o| %>
        <%= f.radio_button "answers[#{i}][option_id]", o.id %>
        <%= f.label "answers[#{i}][option_id]_#{o.id}", o.description %>
        <br>
      <% end %>
      <br>
    </div>
  <% end %>
  <%= f.submit 'Salvar' %>
<% end %>

