<h1 class="fs-3 mb-3"><%= t(:assigned_instruments) %></h1>
<table class="table table-striped">
  <tr>
    <th><%= Instrument.human_attribute_name(:name) %></th>
    <th class="text-end">
      <%= ParticipantInstrument.human_attribute_name(:status) %>
    </th>
    <th class="text-end">
      <%= ParticipantInstrument.human_attribute_name(:created_at) %>
    </th>
    <th class="text-end">
      <%= ParticipantInstrument.human_attribute_name(:finished_at) %>
    </th>
    <th class="text-end">
      <%= ParticipantInstrument.human_attribute_name(:score) %>
    </th>
    <th></th>
  </tr>

  <% participant_instruments.each do |part_inst| %>
    <tr>
      <td><%= part_inst.instrument.name %></td>
      <td class="text-end"><%= ParticipantInstrument.human_attribute_name("status.#{part_inst.status}") %></td>
      <td class="text-end"><%= l(part_inst.created_at.to_date) %></td>
      <td class="text-end"><%= l(part_inst.finished_at.to_date) if part_inst.finished? && part_inst.finished_at %></td>
      <td class="text-end"><%= part_inst.score %></td>
      <td class="text-end"><%= link_to t(:details), participant_instrument_results_path(part_inst) %></td>
    </tr>
  <% end %>
</table>
