<%= render partial: 'participants/participant',
           locals: { participant: @participant_instrument.participant } %>

<%= form_with(url: participant_instrument_submit_path(@participant_instrument),
              method: :post, class: 'w-50') do |f| %>
  <% @participant_instrument.questions.each_with_index do |q, i| %>
    <div id="question<%= i + 1 %>" class="card p-3 m-auto mb-3">
      <p class="fw-semibold"><%= q.description %></p>
      <% q.options.each do |o| %>
        <div class="d-flex gap-3">
          <%= f.radio_button "answers[#{i}][option_id]", o.id %>
          <%= f.label "answers[#{i}][option_id]_#{o.id}", o.description %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= f.submit t(:save), class: 'btn btn-primary d-block m-auto my-4' %>
<% end %>

